# Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- List environments commonly used in data science
- List libraries frequently empoyed in data science
- Evaluate arithetic expressionas in Python

#Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL

#Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Tensorflow
4. Pytorch
5. NumPy

| Data Science tools |
|--------------------|
|Jupyter Notebooks   |
|RStudio             |
|Vs Code with Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Claudia Marcela Carvajal